name: Release Project

on:
  release:
    types:
      - prereleased
      - released

permissions:
  id-token: write
  contents: write
  packages: read

jobs:
  release:
    name: Release Project
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Build changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          toTag: ${{ github.event.release.tag_name }}
          commitMode: true
          configuration: .github/changelog.json

      - name: Set up .NET
        uses: zyactions/dotnet-setup@v1
        with:
          global-json-file: global.json

      - name: Set up Aspire
        run: dotnet tool install --global aspire.cli

      - name: Restore .NET dependencies
        uses: zyactions/dotnet-restore@v1

      - name: Deploy application
        run: aspire deploy
        env:
          ReleaseVersion: ${{ github.event.release.tag_name }}

      - name: Update release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.event.release.tag_name }}
          allowUpdates: true
          prerelease: ${{ github.event.release.prerelease }}
          body: ${{ steps.changelog.outputs.changelog }}
          makeLatest: true
