{
  // Array of encounter IDs, find encounter ID in FFLogs by navigating to the encounter in the browser and copying the ID from the URL.
  "ids": ["<encounter ids>"],

  // String signifying the encounter name, this is the name that will be displayed in the menu.
  "name": "<encounter name>",

  // String signifying the difficulty of the encounter, i.e. "Extreme", "Savage", "Ultimate".
  "difficulty": "<difficulty>",

  // Array of roles, each role is an object with a name, type, and a color.
  "roles": [
    {
      // String signifying the name of the role, this is the name that will be displayed on users.
      "name": "<role name>",

      // String signifying the type of the role, i.e. "Cleared", "Reclear", "Prog", "C4X", "Name Color".
      "type": "<role type>",

      // Color of the role in hex format, i.e. "0x123456".
      "color": "<role color>"
    }
      // ...more roles

  ]
}