###############################
# EF Core Migration Rules     #
###############################

[*.{cs,vb}]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = silent

# IDE0073: Use file header
dotnet_diagnostic.IDE0073.severity = silent

# IDE0161: Convert to file-scoped namespace
dotnet_diagnostic.IDE0161.severity = silent

# IDE0300: Collection initialization can be simplified
dotnet_diagnostic.IDE0300.severity = silent

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = silent
