name: Pipeline Dotnet

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
        description: "Service name (e.g. authingway)"
      should_run:
        required: false
        type: boolean
        default: true

jobs:
  lint:
    if: inputs.should_run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: zyactions/dotnet-setup@8f4b644ff5ff19bba913663df285b7b7278bb724 # v1.0.1
        with:
          global-json-file: global.json

      - name: Register Problem Matchers
        uses: ./.github/actions/setup-matchers

      - name: Restore dependencies
        uses: zyactions/dotnet-restore@bffc71e1a5275122a2795bf2912804f0185db27c # v1.1.0
        with:
          working-directory: services/${{ inputs.service }}

      - name: Format
        uses: ./.github/actions/run-command-with-report
        with:
          service: ${{ inputs.service }}
          step-number: 10
          step-name: "Format"
          command: dotnet format --verify-no-changes --verbosity diagnostic
          output-file: dotnet-format.txt
          working-directory: services/${{ inputs.service }}

      - name: Lint
        uses: ./.github/actions/run-command-with-report
        if: always()
        with:
          service: ${{ inputs.service }}
          step-number: 10
          step-name: "Lint"
          command: dotnet build /warnaserror
          output-file: dotnet-lint.txt
          working-directory: services/${{ inputs.service }}

  build:
    needs: [lint]
    if: inputs.should_run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: zyactions/dotnet-setup@8f4b644ff5ff19bba913663df285b7b7278bb724 # v1.0.1
        with:
          global-json-file: global.json

      - name: Register Problem Matchers
        uses: ./.github/actions/setup-matchers

      - name: Restore dependencies
        uses: zyactions/dotnet-restore@bffc71e1a5275122a2795bf2912804f0185db27c # v1.1.0
        with:
          working-directory: services/${{ inputs.service }}

      - name: Build
        uses: ./.github/actions/run-command-with-report
        with:
          service: ${{ inputs.service }}
          step-number: 20
          step-name: "Build"
          command: dotnet build --configuration Release --no-restore
          output-file: dotnet-build.txt
          working-directory: services/${{ inputs.service }}

  test:
    needs: [build]
    if: inputs.should_run && inputs.service != 'apphost'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: zyactions/dotnet-setup@8f4b644ff5ff19bba913663df285b7b7278bb724 # v1.0.1
        with:
          global-json-file: global.json

      - name: Register Problem Matchers
        uses: ./.github/actions/setup-matchers

      - name: Restore dependencies
        uses: zyactions/dotnet-restore@bffc71e1a5275122a2795bf2912804f0185db27c # v1.1.0
        with:
          working-directory: tests/${{ inputs.service }}

      - name: Install dev certs
        run: dotnet dev-certs https --trust
        # Can be removed once https://github.com/dotnet/aspnetcore/issues/65391 is addressed in a new SDK version
        continue-on-error: true

      - name: Build for Tests
        working-directory: tests/${{ inputs.service }}
        run: dotnet build --configuration Release --no-restore

      - name: Unit Tests
        uses: ./.github/actions/run-command-with-report
        with:
          service: ${{ inputs.service }}
          step-number: 30
          step-name: "Unit Tests"
          command: dotnet run --configuration Release --coverage --coverage-output-format xml --no-build
          output-file: dotnet-test.txt
          working-directory: tests/${{ inputs.service }}
          fail-on-error: false

      - name: Upload Coverage
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: coverage-dotnet-${{ inputs.service }}
          path: artifacts/bin/*/release/TestResults/*.xml
          if-no-files-found: ignore
          retention-days: 1
