name: Report

on:
  workflow_call:
    inputs:
      run_e2e:
        type: string
        default: "false"

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      actions: read
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          pattern: report-*
          merge-multiple: true
          path: artifacts

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"

      - name: Generate Report
        run: python .github/scripts/generate_report.py
        env:
          RUN_E2E: ${{ inputs.run_e2e }}

      - name: Publish Summary
        run: cat report.md >> $GITHUB_STEP_SUMMARY

      - uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        if: github.event_name == 'pull_request'
        with:
          path: report.md
          header: naur-ci-report

      - uses: Kesin11/actions-timeline@e018cfefea60b4f44266998551211a35a58b8097 # v3.0.0
